a {
  text-decoration: none;
  color: #000;
}
a:visited {
  color: var(--black-green);
  background-color: transparent;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
footer,
header,
nav,
section,
main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  font-size: 1em;
  font-weight: normal;
}

:root {
  --soft_green: #73bf4c;
  --light-green: #91f261;
  --black-green: #064104;
}

body {
  font-family: "Nova Mono", monospace;
  background: url(img/background_espiral_green.png);
  background-repeat: round;
}

.border-border {
  border: 1px dashed rgb(63, 63, 70);
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}

/* medida do container */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.sub-container {
  max-width: 842px;
  margin: 0 auto;
}

.container-body {
  margin-top: 75px;
}

.green-color {
  color: var(--soft_green);
}

/* HEADER */
.bg-header {
  overflow: hidden;
  background: var(--light-green);
  height: 80px;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-logo {
  font-family: "Just Me Again Down Here", cursive;
  font-size: 45px;
  font-weight: bold;
}

ul {
  display: flex;
}

li {
  margin: 0 10px;
}

/* Style DISPLAY: FLEX */
.flex-title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 3px solid #000;
  border-radius: 5px;
  margin: 10px 0;
}

.flex-subtitle {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  border-top: 2px dotted #000;
}

.paragraph-title {
  line-height: 25px;
  text-transform: uppercase;
  margin: 5px 0;
}

.exemplo-display {
  display: flex;
  justify-content: space-between;
}

.sem-flex {
  margin-right: 50px;
}

.sem-flex div {
  border: 1px solid rgb(1, 75, 1);
  margin: 2px 0;
  max-width: 200px;
}

#p-block {
  margin-right: 30px;
}

.container-flex {
  max-width: 450px;
}

.com-flex {
  display: flex;
  border: 1px solid rgb(1, 75, 1);
  max-width: 200px;
}

.com-flex div {
  background: #73bf4c;
  margin: 5px;
}

/* FLEX-DIRECTION */
.direction-row {
  display: flex;
  border: 1px solid #000;
}

.p-row {
  text-align: center;
  padding: 20px 0 5px 0;
}

.mini-span {
  font-size: 12px;
  font-style: italic;
}

.row_image {
  width: 250px;
  margin: 10px 15px;
}

.row_reverse {
  display: flex;
  border: 1px solid #000;
  flex-direction: row-reverse;
}

.container-column {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.container-column p {
  text-align: center;
  padding-top: 15px;
}

.direction-column {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.column_reverse {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #000;
}

/* FLEX-WRAP */
.container-wrap {
  display: flex;
  text-align: center;
}

.wrap-content {
  max-width: 400px;
  margin: 0 5px;
  display: flex;
  border: 1px solid #000;
  flex-wrap: wrap;
}

.wrap-content div {
  margin: 2px;
  background: #73bf4c;
  flex: 1;
}

.wrap-reverse {
  max-width: 400px;
  margin: 0 5px;
  display: flex;
  border: 1px solid #000;
  flex-wrap: wrap-reverse;
}

.wrap-reverse div {
  margin: 2px;
  background: #73bf4c;
  flex: 1;
}

/* FLEX - FLOW */
.flow-container {
  text-align: center;
}

.text-center {
  text-align: center;
}

.flow-content {
  width: 562px;
  display: flex;
  border: 1px solid #000;
  flex-flow: row nowrap;
}

.flow_row_wrap {
  width: 562px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #000;
}

/* JUSTIFY - CONTENT */
.justify-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.justify-container p {
  margin-top: 15px;
  text-align: center;
}

.justify-content {
  min-width: 400px;
  margin: 0 5px;
  display: flex;
  border: 1px solid #000;
  flex-wrap: wrap;
}

.justify-content div:nth-of-type(2n + 1) {
  background-color: var(--soft_green);
  margin: 3px;
}

.justify-content div:nth-of-type(2n) {
  background-color: var(--light-green);
  margin: 3px;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.p-justify_margin {
  border-top: 2px dotted #000;
  margin-top: 15px;
  padding-top: 10px;
}

.justify-column {
  flex-direction: column;
  text-align: center;
  min-height: 180px;
}

@media only screen and (max-width: 787px) {
  /* HEADER */
  .bg-header {
    height: 60px;
    display: flex;
    justify-content: flex-end;
  }

  .flex-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-logo {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 25px;
    font-weight: bold;
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 3px;
    font-size: 10px;
    padding: 1px;
    border: 1px solid var(--soft_green);
    border-radius: 25%;
  }

  .container {
    width: 330px;
    padding: 0px;
  }

  .sub-container {
    max-width: 310px;
  }

  /* DISPLAY: FLEX */
  .flex-title {
    font-size: 27px;
  }

  .exemplo-display {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .paragraph-title {
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 5px 0;
  }

  .sem-flex {
    margin: 3px 0px;
  }

  .sem-flex div {
    background: var(--soft_green);
    max-width: 100%;
  }

  #p-block {
    margin-right: 0;
  }

  .container-flex {
    max-width: 100%;
  }

  .com-flex {
    display: flex;
    border: 1px solid rgb(1, 75, 1);
    max-width: 100%;
  }

  /* FLEX-DIRECTION */
  .row_image {
    width: 90px;
    margin: 10px 5px;
  }

  .container-column {
    display: block;
    padding: 0;
  }

  .container-column p {
    text-align: center;
    padding-top: 15px;
  }

  .direction-column {
    border: 0;
    align-items: center;
  }

  .column_reverse {
    border: 0;
    align-items: center;
  }

  /* FLEX-WRAP */
  .container-wrap {
    display: block;
  }

  .wrap-content {
    max-width: 100%;
  }

  .wrap-reverse {
    max-width: 100%;
  }

  /* FLEX - FLOW */
  .flow-content {
    width: 70%;
  }

  .flow_row_wrap {
    width: 70%;
  }

  .flex-subtitle {
    font-size: 20px;
  }

  /* JUSTIFY - CONTENT */
  .justify-content {
    min-width: 300px;
  }

  .justify-column {
    min-height: 180px;
  }
}
